<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.historyquests">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseLevelActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".ChooseQuestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".PlayersActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".RoundInfo"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".RadioButtonActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".LinkVariantsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".QrReadActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"></meta-data>
        <activity
            android:name=".WhileGoingQr"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>
        <activity
            android:name=".CheckBoxActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                android:theme="@style/AppTheme"/>
        </activity>


    </application>

</manifest>